body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    padding-bottom: 0%;
    margin: 0%;
}
#biotecnologia{
    height: 400px;
    width: 1500px
}
h1{
    text-align: center;
    color: green;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.imagemdna{
    width: 35%;
}
